@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    background-image: url('/public/banner-img1-CSG.png');

}

.bg-gradient-to-t {
  background: linear-gradient(to top, rgba(0, 0.1, 0.1, 0.4), transparent);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Act as a border */
  .thumbnail-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 2em;
  }

  /* Gradient */
  .thumbnail-wrapper::before {
    content: '';
    position: absolute;
    /* left: -25%;
    top: -25%; */
    height: 100%;
    width: 100%;
    background: conic-gradient(
      rgba(244, 114, 182, 0.4) 0deg,
      orange 0deg,
      transparent 80deg
    );

    @apply absolute left-[-25%] top-[-25%] h-[150%] w-[150%] animate-border-spin content-[''];
  }

  /* Thumbnail content */
  .card-content {
    @apply absolute top-0 left-0 w-full h-full flex items-center justify-center p-0 m-0; /* Updated */
  }
}

